*{
    margin: 0;
    padding: 0;
}
nav{
background-color: black;
padding: 5px ;
display: flex;
justify-content: space-between;
height: 50px;
align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
}

nav ul li{
    color: white;
    margin-right: 30px;
    margin-left: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
nav ul li:hover{
    color: red;
    background-color: yellow;
    border-radius: 7px;
}

#s{
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    margin-right: 27px;
    width: 199px;
    height: 38px;
    font-weight: bold;
}
#n{
    background-color: yellow;
    color: red;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: small;
}
/* Responsive Design For Navbar  */
@media (min-width:100px) and (max-width:450px) {
    nav ul li{
        color: white;
        margin-right: 4px;
        margin-left: 2px;
        font-size: small;
    }
    #s{
        border-radius: 44px;
        padding: 2px;
        text-align: center;
        text-decoration: none;
        margin-right: 15px;
        width: 93px;
        height: 30px;
    }
}
#main{
    background-color: rgb(43, 226, 14);
    height: 80vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: auto;
    padding: 20px;
    background-color: rgb(196, 106, 199);
box-sizing: border-box;
    border-radius: 54px;
}

textarea{
    margin: 10px auto;
}
#progress{
    margin-top: 12px;
    height: 1px;
    padding: 2px;
}

@media (min-width:500px) and (max-width:900px) {

}
#btn{
    color: red;
    margin: auto;
    border-radius: 12px;
    padding: 6px;
    margin: 12px auto;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
}

#keys{
    display: flex;
    justify-content: space-evenly;
    margin: 5px ;
}
.btns{
    color: yellow;
    background-color: red;
    padding: 4px;
    border-radius: 21px;
    width: 47px;
    font-weight: bolder;
    cursor: pointer;
}
.btns:active{
background-color: yellow;
color: red;
}
